## Sets

**Como los diccionarios pero no con un par key-value. Solo una entrada entre comas**

In [1]:
set_string = {"Emma", "Olivia", "Ava", "Mia"}

set_string # Te los ordena alfabéticamente

{'Ava', 'Emma', 'Mia', 'Olivia'}

In [2]:
set_string_num = {3, 4, 7, 1, 2}
set_string_num # Te los ordena numéricamente

{1, 2, 3, 4, 7}

In [3]:
print(set_string) #No respeta ningún orden al sacarlos

{'Mia', 'Ava', 'Emma', 'Olivia'}

In [4]:
empty_set = set()

empty_set

set()

In [5]:
print(type(empty_set))

<class 'set'>

In [6]:
mixed_set = {'Emma', 5, 1.54, True}
mixed_set

{1.54, 5, 'Emma', True}

In [7]:
mixed_set1 = {'Emma', 5, 1.54, True, (1,2,3)}
mixed_set1

{(1, 2, 3), 1.54, 5, 'Emma', True}

## No se puede tener una lista como parte de un set

In [8]:
set_list = {1,2,3,[4,5,6]}

TypeError: unhashable type: 'list'

## Sets can only contain immutable elements.

**This is how a set can ensure that its elements are unique**

**Cannot be included: lists or dictionaries. BOth are motable**

In [10]:
set_dict = {1,2,3, {4: "Emma"}}

TypeError: unhashable type: 'dict'

In [12]:
set_tuple = {1,2,3, (4,5,6)}
set_tuple

{(4, 5, 6), 1, 2, 3}

In [14]:
student_set = {"Emma", "Olivia", "Ava", "Mia", "Emma", "Ava"}
student_set

{'Ava', 'Emma', 'Mia', 'Olivia'}

### Sets have no order, so it doesn't support indexing

**You can only index into complex data types that have an intrinsic ordering.**

In [17]:
student_set[1] #Gives an error, I can go to index

TypeError: 'set' object is not subscriptable

In [20]:
set_1 = {1, 3, 4, 8, 'a', 6, 2, 10, 3, 4}
set_1

{1, 10, 2, 3, 4, 6, 8, 'a'}

In [21]:
set_1.add(9)
set_1

{1, 10, 2, 3, 4, 6, 8, 9, 'a'}

In [22]:
set_1.add(9.5)
set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

**If the element exists, it is not included**

In [23]:
set_1.add(9)
set_1

{1, 10, 2, 3, 4, 6, 8, 9, 9.5, 'a'}

In [25]:
teachers_set = {"Emma", "Olivia", "Ava", "Mia", "Alvaro", "Ricardo", "Ferri"}
teachers_set

{'Alvaro', 'Ava', 'Emma', 'Ferri', 'Mia', 'Olivia', 'Ricardo'}

In [26]:
len(teachers_set)

7

In [28]:
max(teachers_set) #Returns the last in the lexicographical order

'Ricardo'

In [29]:
min(teachers_set)

'Alvaro'

### Discard

In [32]:
teachers_set.discard('Emma')
teachers_set

{'Alvaro', 'Ava', 'Ferri', 'Mia', 'Olivia', 'Ricardo'}

In [33]:
teachers_set.remove('Mia')

teachers_set

{'Alvaro', 'Ava', 'Ferri', 'Olivia', 'Ricardo'}

### Diferencia entre discard y remove.


**NO hay diferencia entre discard y remove para un elemento que existe en el set y se quiere eliminar**

**LA diferencia está en que: Remove da error al intentar eliminar un elemento que ya está eliminado, pero no da error discard**

In [34]:
teachers_set.discard('Mia')

In [35]:
teachers_set.remove('Mia')

KeyError: 'Mia'