# Masks and Duplicates

Video de Python -Pandas Advanced Features

In [4]:
import pandas as pd
import numpy as np

In [2]:
sample_list = pd.Series(range(10))

In [4]:
sample_list

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

## List con condicion

In [5]:
sample_list[sample_list < 3]

0    0
1    1
2    2
dtype: int64

### Maskear elementos que no cumplen condición: where, máscara default NaN

In [6]:
sample_list.where(sample_list < 3)

0    0.0
1    1.0
2    2.0
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

### Maskear elementos que no cumplen condición con símbolo específico 'x'

In [8]:
 sample_list.where(sample_list < 3, 'x')

0    0
1    1
2    2
3    x
4    x
5    x
6    x
7    x
8    x
9    x
dtype: object

### Maskear elementos que cumplen condición: mask

In [7]:
masked_list = sample_list.mask(sample_list < 3)
masked_list

0    NaN
1    NaN
2    NaN
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

### Generar boolean data a partir de una condición de mask

In [9]:
sample_list.where(sample_list > 3, 'x') == pd.Series(range(10))

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

### Working with Duplicates

In [7]:
# Dataframe created from a dictionary. key color, vehicle
df = pd.DataFrame({'color':['red','yellow', 'green', 'yellow', 
                            'blue', 'green', 'green'],
                  'vehicle':['truck', 'bus' , 'van', 'truck',
                            'bus', 'van', 'car']})

In [8]:
df

    color vehicle
0     red   truck
1  yellow     bus
2   green     van
3  yellow   truck
4    blue     bus
5   green     van
6   green     car

In [9]:
df.duplicated('color')

0    False
1    False
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [10]:
df.drop_duplicates('color')

    color vehicle
0     red   truck
1  yellow     bus
2   green     van
4    blue     bus

In [13]:
df.drop_duplicates('color', keep = 'first')

    color vehicle
0     red   truck
1  yellow     bus
2   green     van
4    blue     bus

In [14]:
df.drop_duplicates('color', keep = 'last')

    color vehicle
0     red   truck
3  yellow   truck
4    blue     bus
6   green     car

In [16]:
df.drop_duplicates('color', keep = False) # SE carga los que están repetidos, no los deja ni una vez

  color vehicle
0   red   truck
4  blue     bus

In [18]:
df.duplicated(['color', 'vehicle']) # Se repite la combinación de dos elementos en las columnas

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [19]:
# Confusion matrix, matrix representation
pd.crosstab(df['color'],
            df['vehicle'],
            margins = True)

vehicle  bus  car  truck  van  All
color
blue       1    0      0    0    1
green      0    1      0    2    3
red        0    0      1    0    1
yellow     1    0      1    0    2
All        2    1      2    2    7